# Applied Data Science Capstone - Week 3 Project

## Part 1: Data Extraction from https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M

### Using Pandas and Beautifulsoup

In [1]:
# Install BeautifulSoup and tabulate, if you have not already done so
# !pip install bs4
# !pip install tabulate

### import the necessary lib

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

### Accessing the wiki page

In [15]:
res = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")

# Use BeautifulSoup to part the page content based on lxml
soup = BeautifulSoup(res.content,'lxml')

# Use BeatifulSoup to find the table in the page
table = soup.find_all('table')[0] 

# Content the table content in the html to a Dataframe
neighborhood_list = pd.read_html(str(table))
df_can_neighborhood = pd.DataFrame(neighborhood_list[0])
df_can_neighborhood.head()
# print( tabulate(df_can_neighborhood[0], headers='keys', tablefmt='psql') )

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Rename the Postcode column to PostalCode

In [16]:
df_can_neighborhood.rename(columns = {"Postcode" : "PostalCode", "Neighbourhood" : "Neighborhood"}, inplace = True)
df_can_neighborhood.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

### Drop Borough that are Not assigned

In [17]:
indexNames = df_can_neighborhood[ df_can_neighborhood['Borough'] == "Not assigned"].index
df_can_neighborhood.drop(indexNames, inplace = True)
df_can_neighborhood.head()

  PostalCode           Borough      Neighborhood
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront
5        M6A        North York  Lawrence Heights
6        M6A        North York    Lawrence Manor

### Sort the Dataset by PostalCode

In [18]:
df_can_neighborhood.sort_values(by = 'PostalCode', inplace = True)
df_can_neighborhood.head()

   PostalCode      Borough    Neighborhood
10        M1B  Scarborough           Rouge
11        M1B  Scarborough         Malvern
28        M1C  Scarborough      Port Union
27        M1C  Scarborough      Rouge Hill
26        M1C  Scarborough  Highland Creek

### If neighborhood is Not Assigned, as it value to be same as Borough. There are NO neighborhood that are Not assigned

In [19]:
df_can_neighborhood[df_can_neighborhood['Neighborhood'] == 'Not Assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

### Postal 'M5A' is NOT defined twice as mentioned in Assignment notes

In [20]:
df_can_neighborhood[df_can_neighborhood['PostalCode'] == 'M5A']

  PostalCode           Borough  Neighborhood
4        M5A  Downtown Toronto  Harbourfront

### Combine neighbor that has the same PostalCode

In [21]:
df_can_neighborhood['Neighborhood'] = df_can_neighborhood[['PostalCode','Borough','Neighborhood']].groupby(['PostalCode'], as_index = False)['Neighborhood'].transform(lambda x: ','.join(x))
df_can_neighborhood.drop_duplicates(subset='PostalCode', inplace = True)
df_can_neighborhood.head()

   PostalCode      Borough                          Neighborhood
10        M1B  Scarborough                         Rouge,Malvern
28        M1C  Scarborough  Port Union,Rouge Hill,Highland Creek
41        M1E  Scarborough       Guildwood,Morningside,West Hill
52        M1G  Scarborough                                Woburn
61        M1H  Scarborough                             Cedarbrae

In [22]:
df_can_neighborhood

,PostalCode,Borough,Neighborhood
10,M1B,Scarborough,"Rouge,Malvern"
28,M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek"
41,M1E,Scarborough,"Guildwood,Morningside,West Hill"
52,M1G,Scarborough,Woburn
61,M1H,Scarborough,Cedarbrae
75,M1J,Scarborough,Scarborough Village
90,M1K,Scarborough,"East Birchmount Park,Ionview,Kennedy Park"
107,M1L,Scarborough,"Golden Mile,Oakridge,Clairlea"
122,M1M,Scarborough,"Cliffcrest,Scarborough Village West,Cliffside"
140,M1N,Scarborough,"Cliffside West,Birch Cliff"
152,M1P,Scarborough,"Wexford Heights,Dorset Park,Scarborough Town C..."
163,M1R,Scarborough,"Maryvale,Wexford"
179,M1S,Scarborough,Agincourt
191,M1T,Scarborough,"Sullivan,Clarks Corners,Tam O'Shanter"
207,M1V,Scarborough,"Steeles East,Milliken,L'Amoreaux East,Agincour..."
235,M1W,Scarborough,L'Amoreaux West
245,M1X,Scarborough,Upper Rouge
62,M2H,North York,Hillcrest Village
77,M2J,North York,"Henry Farm,Fairview,Oriole"
93,M2K,North York,Bayview Village
109,M2L,North York,"Silver Hills,York Mills"
126,M2M,North York,"Willowdale,Newtonbrook"
141,M2N,North York,Willowdale South
153,M2P,North York,York Mills West
165,M2R,North York,Willowdale West
2,M3A,North York,Parkwoods
13,M3B,North York,Don Mills North
31,M3C,North York,"Don Mills South,Flemingdon Park"
63,M3H,North York,"Bathurst Manor,Wilson Heights,Downsview North"
79,M3J,North York,"Northwood Park,York University"
...,...,...,...
34,M6C,York,Humewood-Cedarvale
48,M6E,York,Caledonia-Fairbanks
57,M6G,Downtown Toronto,Christie
71,M6H,West Toronto,"Dufferin,Dovercourt Village"
85,M6J,West Toronto,"Little Portugal,Trinity"
101,M6K,West Toronto,"Exhibition Place,Brockton,Parkdale Village"
116,M6L,North York,"Downsview,North Park,Upwood Park"
134,M6M,York,"Silverthorn,Mount Dennis,Keelesdale,Del Ray"
145,M6N,York,"The Junction North,Runnymede"
158,M6P,West Toronto,"High Park,The Junction South"
172,M6R,West Toronto,"Roncesvalles,Parkdale"
185,M6S,West Toronto,"Runnymede,Swansea"
7,M7A,Downtown Toronto,Queen's Park
173,M7R,Mississauga,Canada Post Gateway Processing Centre
264,M7Y,East Toronto,Business Reply Mail Processing Centre 969 Eastern
225,M8V,Etobicoke,"Mimico South,New Toronto,Humber Bay Shores"
243,M8W,Etobicoke,"Long Branch,Alderwood"
256,M8X,Etobicoke,"Old Mill North,Montgomery Road,The Kingsway"
269,M8Y,Etobicoke,"Old Mill South,King's Mill Park,Humber Bay,The..."
281,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw..."
9,M9A,Queen's Park,Not assigned
21,M9B,Etobicoke,"Cloverdale,West Deane Park,Princess Gardens,Ma..."
40,M9C,Etobicoke,"Old Burnhamthorpe,Markland Wood,Eringate,Bloor..."
121,M9L,North York,Humber Summit
138,M9M,North York,"Humberlea,Emery"
149,M9N,York,Weston
162,M9P,Etobicoke,Westmount
177,M9R,Etobicoke,"Richview Gardens,Kingsview Village,St. Phillip..."
227,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam..."
244,M9W,Etobicoke,Northwest

### Print the number of rows in the DataSet

In [23]:
print('The number of row in the Dataset = ', df_can_neighborhood.shape[0])

The number of row in the Dataset =  103

## Part 2. Get Lat and Long based on Postal Code

### Import the necessary lib

In [ ]:
# Install the library, if you have already done so
!pip install geocoder

In [24]:
import geocoder

In [29]:
# Create a PostalCode list
postal_list = df_can_neighborhood['PostalCode']
postal_list
type(postal_list)

pandas.core.series.Series

### Retrieve lat and long based on Postal Code

In [28]:
# Try to retrieve a single PostalCode
postal_code = 'M5A'

# initialize your variable to None
lat_lng_coords = None

# loop until you get the coordinates
while(lat_lng_coords is None):
  # g = geocoder.google('{}, Toronto, Ontario'.format(postal_code), key = 'xxxx')
  g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code), key = 'xxxx')
  lat_lng_coords = g.latlng

latitude = lat_lng_coords[0]
longitude = lat_lng_coords[1]

print("Postal Code = {}, Lat = {}, Long = {}".format(postal_code, latitude, longitude))

Postal Code = M5A, Lat = 43.65029500000003, Long = -79.35916572299999

In [48]:
# Retrieve lat and long for the postal code list of Toronto
postal_latlng = []

for postal_code in postal_list.iteritems():
    # print('postal_code = ', postal_code)

    # initialize your variable to None
    lat_lng_coords = None

    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code), key = 'xxxxx')
        lat_lng_coords = g.latlng

        latitude = lat_lng_coords[0]
        longitude = lat_lng_coords[1]

        postal_latlng.append([postal_code[1], latitude, longitude])
        # print("Postal Code = {}, Lat = {}, Long = {}".format(postal_code, latitude, longitude))    

postal_latlng

[['M1B', 43.811525000000074, -79.19551746399998],
 ['M1C', 43.78566500000005, -79.15872457299997],
 ['M1E', 43.76581500000003, -79.17519294699997],
 ['M1G', 43.768369121000035, -79.21758999999997],
 ['M1H', 43.76968799900004, -79.23943999999995],
 ['M1J', 43.74312500000008, -79.23174973599998],
 ['M1K', 43.72627568400003, -79.26362499999993],
 ['M1L', 43.71305350000006, -79.28505499999994],
 ['M1M', 43.724234575000025, -79.22792499999997],
 ['M1N', 43.69677000000007, -79.25996735299998],
 ['M1P', 43.759975000000054, -79.26897418299995],
 ['M1R', 43.750710464000065, -79.30055999999996],
 ['M1S', 43.79394000000008, -79.26797613999997],
 ['M1T', 43.78472500000004, -79.29906603299997],
 ['M1V', 43.81768500000004, -79.28018721399997],
 ['M1W', 43.80088292800008, -79.32073999999994],
 ['M1X', 43.83421500000003, -79.21670085099998],
 ['M2H', 43.80284500000005, -79.35620744999994],
 ['M2J', 43.780970000000025, -79.34781328099996],
 ['M2K', 43.781015000000025, -79.38052867199997],
 ['M2L', 43.75709511900004, -79.38031999999998],
 ['M2M', 43.79147500000005, -79.41360487299994],
 ['M2N', 43.76816500000007, -79.40741984599998],
 ['M2P', 43.74789500000003, -79.39991893899997],
 ['M2R', 43.77769500000005, -79.44579657299994],
 ['M3A', 43.75242000000003, -79.32924245299995],
 ['M3B', 43.749055000000055, -79.36222672499997],
 ['M3C', 43.72142500000007, -79.34345422799998],
 ['M3H', 43.75787500000007, -79.44868764799998],
 ['M3J', 43.76476500000007, -79.48809440699995],
 ['M3K', 43.73868500000003, -79.46731999999997],
 ['M3L', 43.720140111000035, -79.51697999999999],
 ['M3M', 43.73369000000008, -79.49674024199999],
 ['M3N', 43.75537065200007, -79.51958999999994],
 ['M4A', 43.73060024600005, -79.31326499999994],
 ['M4B', 43.707535000000064, -79.31177329699995],
 ['M4C', 43.689640000000054, -79.30687387799998],
 ['M4E', 43.67653121600006, -79.29542499999997],
 ['M4G', 43.70949500000006, -79.36398897099997],
 ['M4H', 43.70124000000004, -79.34982482599997],
 ['M4J', 43.688765344000046, -79.33417499999996],
 ['M4K', 43.68317787500007, -79.35510499999998],
 ['M4L', 43.66796500000004, -79.31466717299998],
 ['M4M', 43.660628993000046, -79.33485499999995],
 ['M4N', 43.72842000000003, -79.38713269199997],
 ['M4P', 43.71275500000007, -79.38851449699996],
 ['M4R', 43.71452278400005, -79.40695999999997],
 ['M4S', 43.70339500000006, -79.38596360499997],
 ['M4T', 43.69068500000003, -79.38294574299994],
 ['M4V', 43.68607377100005, -79.40226499999994],
 ['M4W', 43.68220500000007, -79.37794519699997],
 ['M4X', 43.66816000000006, -79.36660236199998],
 ['M4Y', 43.666585000000055, -79.38130203699995],
 ['M5A', 43.65029500000003, -79.35916572299999],
 ['M5B', 43.65736301100003, -79.37817999999999],
 ['M5C', 43.65121000000005, -79.37548057699996],
 ['M5E', 43.64516015600003, -79.37367499999993],
 ['M5G', 43.65609081300005, -79.38492999999994],
 ['M5H', 43.64970000000005, -79.38258157399997],
 ['M5J', 43.630210000000034, -79.36243320899996],
 ['M5K', 43.64710000000008, -79.38153109899997],
 ['M5L', 43.64839500000005, -79.37886491099994],
 ['M5M', 43.735460000000046, -79.41914787599995],
 ['M5N', 43.711941154000044, -79.41911999999996],
 ['M5P', 43.69478500000008, -79.41440483299994],
 ['M5R', 43.674840000000074, -79.40376823999998],
 ['M5S', 43.663110000000074, -79.40180056699995],
 ['M5T', 43.653530000000046, -79.39723268299997],
 ['M5V', 43.64081500000003, -79.39953781899999],
 ['M5W', 43.648690000000045, -79.38543999999996],
 ['M5X', 43.64828000000006, -79.38146082599997],
 ['M6A', 43.72327000000007, -79.45128601699997],
 ['M6B', 43.70799000000005, -79.44836733199998],
 ['M6C', 43.69210517800008, -79.43035499999996],
 ['M6E', 43.68864000000008, -79.45101761399997],
 ['M6G', 43.66878132800008, -79.42070999999999],
 ['M6H', 43.66508694300006, -79.43870499999997],
 ['M6J', 43.64852500000006, -79.41775713399994],
 ['M6K', 43.639410000000055, -79.42436201999999],
 ['M6L', 43.71381000000008, -79.48830076899998],
 ['M6M', 43.69453000000004, -79.48448943099999],
 ['M6N', 43.67612500000007, -79.48193234099995],
 ['M6P', 43.659935000000075, -79.46301926299998],
 ['M6R', 43.64787000000007, -79.44977619099996],
 ['M6S', 43.64962000000003, -79.47614085899994],
 ['M7A', 43.66115033500006, -79.39171499999998],
 ['M7R', 44.39355390036926, -79.69822344142773],
 ['M7Y', 43.648690000000045, -79.38543999999996],
 ['M8V', 43.61220000000003, -79.49514569099995],
 ['M8W', 43.60113082100003, -79.53878499999996],
 ['M8X', 43.653760000000034, -79.51089004199997],
 ['M8Y', 43.63283500000006, -79.48955044599995],
 ['M8Z', 43.624630000000025, -79.52694976199996],
 ['M9A', 43.66229908300005, -79.52819499999998],
 ['M9B', 43.65034698100004, -79.55503999999996],
 ['M9C', 43.648573449000025, -79.57824999999997],
 ['M9L', 43.75950000000006, -79.55702785699998],
 ['M9M', 43.73370500000004, -79.53750768599997],
 ['M9N', 43.704845000000034, -79.51754601599998],
 ['M9P', 43.69650500000006, -79.53025233799997],
 ['M9R', 43.68681000000004, -79.55728354099995],
 ['M9V', 43.74314500000003, -79.58466389699998],
 ['M9W', 43.71174000000008, -79.57918134599998]]

### Merge the Lat and Long to the existing Dataset based on Postal Code

In [60]:
# Convert postal_latlng to Dataframe
df_postal_latlng = pd.DataFrame(postal_latlng)
df_postal_latlng.columns = ['PostalCode', 'Latitude', 'Longitude']
df_postal_latlng.head()

df_toronto = pd.merge(df_can_neighborhood, df_postal_latlng, on = 'PostalCode')
df_toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",43.811525,-79.195517
1,M1C,Scarborough,"Port Union,Rouge Hill,Highland Creek",43.785665,-79.158725
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",43.765815,-79.175193
3,M1G,Scarborough,Woburn,43.768369,-79.217590
4,M1H,Scarborough,Cedarbrae,43.769688,-79.239440

In [61]:
print('The number of row in the Dataset = ', df_toronto.shape[0])

The number of row in the Dataset =  103